:root {
    --dark : #232323;
    --green : #324133;
    --yellow : #f7e817;
    --red : #ff0000; 
    --light : #ffffff;
    --cool : #a027a9;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(20, 14, 4, 0.813);
    color: snow;
}

header {
    padding: 15px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 50px;
    font-weight: 100px;
    margin-bottom: 1rem;
}

#todo_list_form {
    display: flex;
}

input, button {
    appearance: none;
    outline: none;
    border: none;
    background: none;
}


#todo_list_input {
    flex: 110%;
    background-color: var(--green);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#todo_list_input ::placeholder {
    font-size: 700;
}

#todo_list_submit {
    font-size: 1.25rem;
    color: var(--light);
    font-weight: 700;
    cursor : pointer;
    transition: 0.8s;
}

#todo_list_submit:hover {
    opacity: 0.4;
}

#todo_list_submit:active {
    opacity: 0.8;
}

main {
    flex: 110%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task_list {
    padding: 1rem;
}

.task_list h2 {
    font-size: 50px;
    font-weight: 100px;
    margin-bottom: 1rem;
}

#tasks #task  {
    display: flex;
    justify-content: space-between;
    background-color: var(--green);
    color: var(--light);
    border-radius: 1rem;
}